body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #404040;
    color: whitesmoke;
}

.navbar span {
    font-weight: bold;
}

.active, .keyword, .navbar span:hover {
    color: #efc91d !important;
}

.navbar span:hover {
    cursor: pointer;
}

.pagination {
    --bs-pagination-focus-box-shadow: none;
}
.info {
    background-color: #606060;
}

li {
    margin-top: 4px;
}
