body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #404040;
    color: whitesmoke;
}

.keyword {
    color: #126ffe;
    font-style: italic;
}

.navbar span {
    font-weight: bold;
}

.active {
    color: #126ffe !important;
}

.navbar span:hover {
    cursor: pointer;
    color: #126ffe;
}

.info {
    background-color: #606060;
}

/* .textBox {
    height: 50vh;
} */

li {
    margin-top: 4px;
}
